.page {
    margin: 0px;
}

.b2b {
    font-size: 300%;
}

.home {
    text-align: center;
}

.header {
    background-color: #151d47;
    text-align: center;
}

.header * {
    display: inline;
}

.base_page_btns * {
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
    background-color: #ef4823;
    float: right;
    width: 4%;
    margin: 1.3% 1% 2% 2%;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid black;
    position: relative;
}

.home_btn {
    width: 5%;
}

.D2D {
    position: relative;
    text-align: center;
    padding: 10px 0px;
    width: 20%;
}

.registration {
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    padding-bottom: 15px;
    font-family: Helvetica;
}

.login_title {
    padding-bottom: 10px;
}

.login_title * {
    font-size: 15px;
    margin: auto;
}

.login {
    font-size: 25px;
}

.login_form {
    padding-bottom: 10px;
    margin: auto;
}

.login_form * {
    padding: 5px;
}

.login_form input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 125%;
}

.login_submit {
    padding: 8px 80px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
}

.forgot_pass {
    padding-top: 15px;
    margin: auto;
}

.search_header {
    text-align: center;
}

.search_form {
    text-align: left;
    padding-left: 200px;
    padding-top: 20px;
    font-family: Helvetica;
}

.search_field {
    height: 40px;
    width: 400px;
    size: 30px;
    padding-left: 10px;
    font-size: 20px;
}

.json_search_field {
    height: 204px;
    width: 400px;
    size: 30px;
    padding-left: 10px;
    font-size: 12px;
}

.search_button {
    height: 40px;
    width: 414px;
    size: 30px;
    padding-left:10px;
    font-size: 20px;
}

.results_table{
    width: 100%;
    height: 80%;
    align-content: left;
    border-collapse: collapse;
    background-color: #f6f6f6;
    table-layout: fixed;
}
.results_table th{
    text-align: left;
    padding-left: 10px;
}
.results_table td{
    text-align: left;
    padding-left: 10px;
    width: 20%;
    word-wrap: break-word;
}
.results_table tr{
    border: 1px solid black;
}