{% extends "base_store_searchbar.html" %}

{% block content %}

<div class="bookDetail">
    <h1 class="title">{{book.title}}</h1>
<ul class="detail_margin">
<div class="topbox">
{% if book.other_authors %}
<h2 id = "author">By: {{book.primary_author}}, {{book.other_authors}}</h2><h2 id="price">Price: {{book.price}}</h2>
{% else %}
<h2 id="author">By: {{book.primary_author}}</h2> <h2 id="price">Price: {{book.price}}</h2>
{% endif %}
</div>

<div class="boxlist">
 
    <h4 id="isbn">ISBN:{{book.isbn_13}}</h4>
    
   
    <h4 id="publisher">Publisher:{{book.publisher}}</h4>
    {% if book.volume %}
        <h4 id="volume">Volume: {{book.volume}}</h4>
    {% endif %}
    {% if book.series %}
        <h4 id="series">Series: {{book.series}}</h4>
    {% endif %}
</div>
<div id = "description", class = "boxlist">
    <h4>Description: {{book.description|safe}}</h4>
</div>
</ul>
{% if book.ready_for_sale %}
    <h2 id="ready_for_sale">This book is ready for sale!</h2>
{% else %}
    <h2 id="ready_for_sale">This book not currently for sale</h2>
{% endif %}


</div>
{% endblock %}

