{% extends "base_store_searchbar.html" %}

{% block content %}
<div class="search">

  {% if query %}
  <h1>Result for : {{query}}</h1>
  {% endif %}

  {% if book_list %}
  
  <ul class="boxlist">
    {% for book in book_list %}
      <li class="borderlist">
       <h3><a href="{% url 'detail' book.id %}">{{book.title}}</a></h3>
        <p>
        Author: {{book.primary_author}},
        Genre: {{book.genre}},
        ISBN: {{book.isbn_13}}
        </p>
      </li>
    {% endfor %}
  </ul>

  {% else %}
    <p>There are no books in the Store.</p>
  {% endif %}

</div>

{% endblock %}