{% extends "base_store.html" %}

{% block content %}
<div class="search">

  <h1>Result for : {{query}}</h1>

  {% if book_list %}
  
  <ul class="boxlist">
    {% for book in book_list %}
      <li class="borderlist">
       <h3><a href="{% url 'detail' book.id %}">{{book.title}}</a></h3>
        <p>
        Author: {{book.primary_author}},
        Genre: {{book.genre}},
        ISBN: {{book.isbn_13}}
      </li>
    {% endfor %}
  </ul>

  {% block pagination %}
  {% if is_paginated %}
  <div class="pagination" style="text-align: center;">
      <span class="page-links">
          {% if page_obj.has_previous %}
              <a href="?q={{query}}&page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
              <a href="?q={{query}}&page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
  {% endif %}
  {% endblock %}

  {% else %}
    <p>There are no books in the Store.</p>
  {% endif %}

</div>

{% endblock %}