<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<div class="header">
    <form action="{% url 'home' %}" method="GET">
      <input class="home_btn" type="submit" value="Home" formaction="{% url 'home' %}">
    </form>
    <form action="{% url 'search' %}" method="GET">
      <h3 class="D2D">Draft 2 Digital</h3>
      <div class="search_bar">
        <input name="q" type="text" placeholder="Enter title, author, isbn...">
        <input type="submit" value="Search Book">
      </div>
    </form>
</div> 
{% block content %}{% endblock %}
</html>